<footer>
    <section class="pie" id="pie">
        <h2>UNIPACIFICO</h2>
       <ul>
            <li>"Abriendo las puertas al éxito: Trabajos de Grado"</li>
       </ul>
        
    </section>

    <section class="pie" id="pie">
        <h2>Contactanos</h2>
        <ul>
            <li>Trabajos de Grado</li>
            <li>unipacifico@gmail.com</li>
            <li>Telefono: +57312313133</li>
            <li>whatsapp:+57312313133</li><br>
            <li>Siguenos en nuestrar redes:</li><br>
            <li><img src="../../assets/redes/fb.png"  width="40" height="40" alt="facebook">
                <img src="../../assets/redes/ig.png" width="40" height="40" alt="instagram">
            </li>
        </ul>
    </section>
</footer>
