
<main>
    <section class="principal" id="principal">
        <blockquote>
            <h2 class="title">TRABAJOS DE GRADO UNIPACIFICO</h2> <br>
            <p>¡Sé parte de la élite académica alcanzando tus objetivos con los Trabajos de Grado! 
                Abre las puertas al éxito con un Trabajo de Grado hecho a la medida de tus 
                necesidades y con el apoyo de un equipo de expertos. ¡No esperes más para descubrir 
                el camino hacia tus metas!.</p>
        </blockquote>

        <form action="">
            <input type="text" name="correo" id="correo" placeholder="Correo">
            <input type="password" name="contraseña1" id="contraseña1" placeholder="contraseña">
            <button> Iniciar Sesion</button>
            <a href="#">Olvide mi clave</a>
        </form>
    </section>

  

</main>

